:root {
  --bcg: black;
  --lightColor: #ffffff;
  --darkColor: #ffffff;
  --btn: red;
}
  
  * {
    font-family: "Lato", sans-serif;
  }
  
  html {
    font-size: 16px;
    font-weight: 500;
    background: var(--bcg);
    
  }
  
body {
  margin-bottom: 4rem;
  width: 800px;
  margin: 0 auto;
}

  .topWrapper {
    
    background: var(--bcg);
    color: #fffffc;
    width: 700px;
    margin: 2rem auto;
    margin-bottom: -1rem;
    padding-bottom: 3rem;
    border-radius: 5px;
    max-width: none;
  }

.weekTimes {
  height: 40px;
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 0.4rem;
  font-size: 1.2rem;
  background: var(--bcg);
  border-radius: 5px;
  
  padding: 0 1rem;
  color:#fffffc
}

.timeLi {
  height: 28px;
  width: 40px;
  padding: 0.2rem;
  background: #fffffc;
  color: #36382e;
  margin: 0.2rem;
  font-size: 1.4rem;
  border-radius: 3px;
  list-style: none;
}
.info {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.topCircleWrapper {
  margin-right: 1rem;
}

.tabTitle {
  color: #36382e;
  text-transform: uppercase;
  margin: 0.2rem;
  margin-left: 1rem;
  font-size: 3rem;
}

.serious {
  font-size: 1rem;
}

.infoLine {
  height: 40px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0.4rem;
  font-size: 1.2rem;
  background: var(--bcg);
  border-radius: 5px;
  
  padding: 0 1rem;
  color:#fffffc
}
  input {
    font-size: inherit;
    text-align: center;
    border: none;
  }

  #nameInput {
  }

  #timeInput {
    margin-top: 0.5rem;
    width: 30%;
  }

  .about {
    font-size: 1.2rem;
    font-weight: 300;
  }

  h1 {
    font-size: 3rem;
    font-weight: 300;
    text-align: left;
    margin-bottom: -1rem;
    margin-top: 5rem;
    color: #52b788;
    
  }

  .topForm {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
    width: 100%;
    margin-top: 0rem;
    color: #52b788;
  }

.weekGoal {
  width: 100%;
  font-size: 1.2rem;
}

.rightWrapper {
  width: 100%;
}

.quote {
  width: 90%;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1rem;
  
}



.delTab {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.sign {
  margin-top: 0.5rem;
  color: #36382e;
  font-weight: bolder;
  align-self: flex-end;
}

.hideBtn {
  color:white;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0.5rem;
  vertical-align: top;
  
}

.lastWeek {
    margin: 0.2rem;
    font-size: 1.6rem
}

  .ulWrapper {
    
    width: 88%;
    height: 90px;
    margin-top: 0.5rem;
  }

  #todayLabel {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: black;
  }

.errorMsg {
  text-align: left;
  height: 30px;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 0rem;
  color: var(--btn)
}



button {
  padding: 5px 5px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #52b788;
  border: none;
  border-radius: 2px;
  box-shadow: 3px 3px #999;
  margin-top: 0.5rem;
}

button:hover {background-color: #40916c}

button:active {
  background-color: #40916c;
  box-shadow: none;
  transform: tr}



.label {
  font-size: 1rem;
  font-weight: 300;
  
}



  .tab {
    height: auto;
    width: 700px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: #a5a58d;
    margin: 1rem;
    margin-bottom: 1rem;
    border-radius: 2px;
    position: relative;
    box-shadow: 7px 7px grey;
  }

  .topTab {
  
    height: auto;
      width: 700px;
      display:flex;

      align-items: center;
      justify-content: space-between;
      text-align: center;
      flex-direction: row;
      background: #a5a58d;
      margin-bottom:-0.2rem;
      margin-top: 1rem;
      border-radius: 2px;
      
  }

  

 

  .tabsWrapper {
    align-self: center;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0rem;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto
  }
  
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  #outerCircle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ba7a3b;
}

#innerCircle {
    width: 135px;
    height: 135px;
    background: #495057;
    border-radius: 50%;
}

#outerCircleS {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2d3740;
}

#innerCircleS {
  width: 32px;
  height: 32px;
  background: #495057;
  border-radius: 50%;
}

.progressCircleWrapper {
   
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 1px;
    bottom: 1px;
    background-color: #777b65;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #cb997e;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 10px;
  }
  
  .slider.round:before {
    border-radius: 40%;
  }